<div class="container">
        <div class="col s12 white">
            <div class="row  top-buffer">
                <div class="col-md-3"> <label for="txtuserid">User Id:</label>  </div>
                <div class="col-md-6">
                    <input [(ngModel)]="loginmodel.Userid" class="form-control">
                </div>
            </div>
            <div class="row  top-buffer">
                <div class="col-md-3"><label for="txtpwd">Password:</label></div>
                <div class="col-md-6">
                    <input [(ngModel)]="loginmodel.Password" class="form-control" type="password">
                </div>
            </div>
            <div class="row  top-buffer">
                <div class="col-md-6">
                    <button type="button" (click)="authenticate($event)" class="btn btn-primary pull-right">Login</button>
                    <span class="alert-danger">
                        {{msg}}
                    </span>
                </div><div class="col-md-6"></div>
            </div>
        </div>
</div>
