<div class="container">
    <div *ngIf="!showlist">
        <div class="row top-buffer">
            <h1>Add Todo Item</h1>
        </div>

        <div class="row top-buffer">
            <div class="col-md-3"><label for="txtTitile">Titile</label></div>
            <div class="col-md-9">
                <input type="text" id="txtTitile" [(ngModel)]="todomodel.Titile" class="form-control">
            </div>
        </div>
        <div class="row top-buffer">
            <div class="col-md-3"><label for="txtDescription">Description</label></div>
            <div class="col-md-9">
                <textarea rows="4" id="txtDescription" [(ngModel)]="todomodel.Description" class="form-control"
                    style="min-width: 100%"></textarea>
            </div>
        </div>
        <div class="row top-buffer">
            <div class="col-md-3"><label for="txtDate">Date</label></div>
            <div class="col-md-9">

                <input type="text" id="txtDate" autocomplete="off" [(ngModel)]="todomodel.actionDate" bsDatepicker  [bsConfig]="datepickerconfig"  class="form-control" >
            </div>
        </div>
        <div class="row top-buffer">
            <div class="col-md-6">
                <button (click)="addtodoitem($event)" class="btn btn-primary pull-right">Save</button>

            </div>
            <div class="col-md-6">

            </div>
        </div>
    </div>
    <div *ngIf="showlist">
        <div class="row top-buffer">
            <div class="col-md-9"></div>
            <div class="col-md-3">
                <button (click)="additems($event)" class="btn btn-primary pull-right">Add New item</button>

            </div>
        </div>
        <div class='table-responsive  top-buffer'>

            <table class="table table-striped table-bordered" *ngIf='todolist && todolist.length'>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Action date</th>
                        <th>IsActive</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let tkt of todolist">
                        <td>
                            {{tkt.Id}}
                        </td>
                        <td>{{tkt.Titile}}</td>
                        <td>{{tkt.Description}}</td>
                        <td>{{tkt.actionDate|date: 'dd/MM/yyyy'}}</td>
                        <td><input type="checkbox" [checked]="tkt.IsActive" disabled="disabled" /> </td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>