<div class="container">
     
        <div class="row top-buffer"><h1>Add Todo Item</h1></div>
<div class="row top-buffer">
    <div class="col-md-3" ><label for="txtTitile">Titile</label></div>
    <div class="col-md-9">
        <input type="text" id="txtTitile"   [(ngModel)]="todomodel.Titile" class="form-control">
    </div>
</div>
<div class="row top-buffer">
    <div class="col-md-3" ><label for="txtDescription">Description</label></div>
    <div class="col-md-9">
        <textarea rows="4" id="txtDescription"  [(ngModel)]="todomodel.Description" class="form-control"  style="min-width: 100%"></textarea>
    </div>
</div>
<div class="row top-buffer">
    <div class="col-md-3" ><label for="txtDate">Date</label></div>
    <div class="col-md-9">
      
        <div class="input-group">
            <input class="form-control" placeholder="dd-mm-yyyy" id="txtDate"
                   name="dp"  ngbDatepicker #d="ngbDatepicker" [(ngModel)]="todomodel.actionDate"
                   [placement]="placement" [positionTarget]="buttonEl">
            <div class="input-group-append">
              <button #buttonEl class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
            </div>
    </div>
</div>
</div>
<div class="row top-buffer">
    <div class="col-md-6">
        <button (click)="addtodoitem($event)"   class="btn btn-primary pull-right">Save</button>

    </div><div class="col-md-6"></div>
</div>
       

        </div> 