<div class="container">
    <form [formGroup]="loginForm" (ngSubmit)="authenticate()">
        <div class="col s12 white">
            <div class="row  top-buffer">
                <div class="col-md-1"> <label for="txtuserid">User Id:</label>  </div>
                <div class="col-md-11">
                    <input formControlName="Userid" class="form-control">
                    <div *ngIf="loginForm.controls['Userid'].touched && !loginForm.controls['Userid'].valid">
                        <span *ngIf="loginForm.controls['Userid'].hasError('required') " class="alert-danger">
                            User id is required
                        </span>
                        <span *ngIf="loginForm.controls['Userid'].hasError('email') && !loginForm.controls['Userid'].hasError('required')" class="alert-danger">
                            User id is not valid email
                        </span>
                    </div>
                </div>
            </div>
            <div class="row  top-buffer">
                <div class="col-md-1"><label for="txtpwd">Password:</label></div>
                <div class="col-md-11">
                    <input formControlName="Password" class="form-control" type="password">
                    <div *ngIf="loginForm.controls['Password'].touched && !loginForm.controls['Password'].valid">
                        <span *ngIf="loginForm.controls['Password'].hasError('required') " class="alert-danger">
                            Password required
                        </span>
                    </div>
                </div>
            </div>
            <div class="row  top-buffer">
                <div class="col-md-4">
                    <button type="submit" class="btn btn-primary pull-right" [disabled]="loginclick">Login</button>
                    <span class="alert-danger">
                        {{msg}}
                    </span>
                </div><div class="col-md-8"></div>
            </div>
        </div>
    </form>
</div>
