/* You can add global styles to this file, and also import other style files */
input,
select,
textarea {
    max-width: 280px;
}

.top-buffer {
    margin-top: 20px;
}


.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.nav-tabs {
    margin-bottom: 0;
}
.download-zip-link
{
    display:none;
}
.vcenter {
    display: flex;
    align-items: center;
}

.datepicker,
.table-condensed {
  width: 300px;
  height:300px;
}

.modal-content > .modal-draggable {
	background-color: #fff;
	border-radius: 6px;
}
.backgroundTransparent .modal-content {
	background: transparent;
	border: 0;
}